@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

#root {
  max-width: 1980px;
  text-align: center;
}
.branding{
  background: rgba(255, 255, 255, 0.103);
  border-radius: 13px;
  backdrop-filter: blur(15px);
}
.branding h1{
  color: #b3b3b3;
  font-size: 4rem;
}
body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/moon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
main{
  min-height: 60vh;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: rgba(255, 255, 255, 0.082);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  margin: 20px;
}

form {
  padding: 20px;
}
.loading{
  font-size: 1.4rem;
  color: #b3b3b3;
}
input#userInput {
  display: block;
  padding: 15px;
  width: 280px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
  font-family: 'Inter', sans-serif;
}

input#userInput:focus {
  border: 1px solid #007aff;
}

button {
  display: block;
  margin: 10px auto;
  width: 310px;
  padding: 15px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

button:hover {
  background-color: #005bb5;
}

nav {
  margin-top: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
}

nav h2, nav h4, nav h5 {
  margin: 5px 0;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

p {
  color: #333;
  font-family: 'Inter', sans-serif;
}

p.error {
  color: #ff3b30;
}

footer{
  background: rgba(255, 255, 255, 0.103);
  border-radius: 13px;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075), 0 6px 6px rgba(0, 0, 0, 0.05);
}
footer p{
  color: #b3b3b3;
  padding: 10px;
  font-size: 1rem;
}